button#eat.pure-button.pure-button-primary(ng-click='selectRandomRestaurant();') {{buttonText}}

#letsEatResult(ng-show="selectedRestaurant")
  h3 {{selectedRestaurant.name}}
  p {{selectedRestaurant.address}}
  button.pure-button.button-success.button-sm(ng-disabled='!canGetDirections' ng-click='getDirections();') Get Directions
  .pure-g.map-result-container
    #map.pure-u-1-2
    #map-steps.pure-u-1-2(ng-show='stepsToGetToRestaurant')
      table.pure-table
        thead
          tr
            th Details
            th Duration
            th Distance
        tbody
          tr(ng-repeat='step in stepsToGetToRestaurant')
            td(ng-bind-html='step.instructions')
            td {{step.duration.text}}
            td {{step.distance.text}}
