#eat
  text-align: center
  margin-right: 10px

#letsEatResult
  margin-top: 20px

  h4
    margin: 5px 0

  .map-result-container
    #map-steps
      font-size: 12px
      text-align: left
      overflow: scroll
      padding-top: 0
      padding-bottom: 0

      ol
        margin: 0

