<!doctype html>
<html class="no-js"> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <base href="/">
    <title>Lunchadores | Eatin Done Right!</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <link href='http://fonts.googleapis.com/css?family=Ubuntu:300,400,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css(client) app/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="angular-material/angular-material.css"/>
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css({.tmp,client}) app/app.css -->
    <link rel="stylesheet" href="app/app.css">
    <!-- injector:css -->
    <!-- endinjector -->
    <!-- endbuild -->
</head>
<body ng-app="lunchadoresApp" layout="column" ng-controller="MainCtrl as mainCtrl">
<section layout="row" flex>
    <md-sidenav class="md-sidenav-left md-whiteframe-z2" id="mainNavigation" md-component-id="mainNavigation"
                md-is-locked-open="$mdMedia('gt-sm')">
        <md-toolbar class="md-theme-indigo">
            <h1 class="md-toolbar-tools brand">
                <a ng-href="/">Lunchadores</a>
                <a href="#" class="close" hide-gt-sm>
                    <i class="fa fa-close" ng-click="mainCtrl.closeMenu()"></i>
                </a>
            </h1>
        </md-toolbar>
        <md-content layout-padding ng-controller="NavbarCtrl as navbarCtrl" ng-click="mainCtrl.closeMenu()">
            <!-- Unauthenticated Navigation -->
            <nav ng-hide="isLoggedIn()">
                <ul>
                    <li>
                        <a ui-sref="login"><i class="fa fa-sign-in"></i>Login</a>
                    </li>
                    <li>
                        <a ui-sref="restaurants"><i class="fa fa-cutlery"></i>Restaurants</a>
                    </li>
                    <md-divider></md-divider>
                    <li><a ui-sref="signup">Sign up</a></li>
                </ul>
            </nav>

            <!-- Authenticated Navigation -->
            <nav ng-show="isLoggedIn()">
                <ul>
                    <li>
                        <a ui-sref="account.settings" class="gravatar">
                            <img lunchadores-gravatar gravatar-size="35" gravatar-default="mm"/>
                            <span class="user-name">{{mainCtrl.user.full_name}}</span>
                        </a>
                    </li>
                    <md-divider></md-divider>
                    <li>
                        <a ui-sref="restaurants">
                            <i class="fa fa-cutlery"></i>Restaurants
                        </a>
                    </li>
                    <li ng-show="isAdmin()">
                        <a ui-sref="admin">
                            <i class="fa fa-lock"></i>Admin
                        </a>
                        <!---->
                    </li>
                    <md-divider></md-divider>
                    <li>
                        <a href="#" ng-click="navbarCtrl.logout()">
                            <i class="fa fa-sign-out"></i> Sign Out
                        </a>
                    </li>
                </ul>
            </nav>
        </md-content>
    </md-sidenav>
    <header id="mobileNavigation" hide-gt-sm>
        <a href="/" class="brand">Lunchadores</a>
        <nav class="pull-right">
            <ul>
                <li>
                    <a ui-sref="account.settings" class="gravatar">
                        <img lunchadores-gravatar gravatar-size="30" gravatar-default="mm"/>
                    </a>
                </li>
                <li>
                    <a href="#" ng-click="mainCtrl.toggleNavigation()">
                        <i class="fa fa-bars fa-2x"></i>
                    </a>
                </li>
            </ul>
        </nav>
    </header>
    <md-content flex layout-padding class="content">
        <div layout="column" layout-fill>
            <lunchadores-notifications-bar class="notifications wrapper"></lunchadores-notifications-bar>
            <div ui-view="" flex="100"></div>
        </div>
    </md-content>
</section>


<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCkaeP_O1LNuxOXN-7GjdZBld0nWyI8WoM"></script>

<!-- build:js({client,node_modules}) app/vendor.js -->
<!-- bower:js -->
<script src="jquery/dist/jquery.js"></script>
<script src="angular/angular.js"></script>
<script src="angular-resource/angular-resource.js"></script>
<script src="angular-cookies/angular-cookies.js"></script>
<script src="angular-sanitize/angular-sanitize.js"></script>
<script src="lodash/index.js"></script>
<script src="angular-ui-router/release/angular-ui-router.js"></script>
<script src="angular-md5/angular-md5.js"></script>
<script src="angular-animate/angular-animate.js"></script>
<script src="angular-aria/angular-aria.js"></script>
<script src="angular-material/angular-material.js"></script>
<!-- endbower -->
<!-- endbuild -->

<!-- build:js({.tmp,client}) app/app.js -->
<script src="app/app.js"></script>
<!-- injector:js -->
<script src="app/account/account.js"></script>
<script src="app/account/password-reset/password-reset-verification.controller.js"></script>
<script src="app/account/password-reset/password-reset.controller.js"></script>
<script src="app/account/settings/settings.controller.js"></script>
<script src="app/admin/admin.controller.js"></script>
<script src="app/admin/admin.js"></script>
<script src="app/login/login.controller.js"></script>
<script src="app/login/login.js"></script>
<script src="app/main/main.controller.js"></script>
<script src="app/restaurants/create/create.controller.js"></script>
<script src="app/restaurants/restaurant/restaurant.controller.js"></script>
<script src="app/restaurants/restaurants.controller.js"></script>
<script src="app/restaurants/restaurants.js"></script>
<script src="app/restaurants/restaurants.service.js"></script>
<script src="app/signup/signup.controller.js"></script>
<script src="app/signup/signup.js"></script>
<script src="components/auth/auth.service.js"></script>
<script src="components/auth/user.service.js"></script>
<script src="components/forms/errors/errors.directive.js"></script>
<script src="components/forms/submit-button/submit-button.directive.js"></script>
<script src="components/gravatar/gravatar.controller.js"></script>
<script src="components/gravatar/gravatar.directive.js"></script>
<script src="components/locale/countries.service.js"></script>
<script src="components/locale/states.service.js"></script>
<script src="components/maps/maps.service.js"></script>
<script src="components/navbar/navbar.controller.js"></script>
<script src="components/notifications/notifications.controller.js"></script>
<script src="components/notifications/notifications.directive.js"></script>
<script src="components/notifications/notifications.factory.js"></script>
<script src="components/notifications/notifications.provider.js"></script>
<script src="components/rating/rating.directive.js"></script>
<script src="components/tags/tags.directive.js"></script>
<script src="components/tags/tags.service.js"></script>
<script src="components/utility/loading-icon/loading-icon.directive.js"></script>
<!-- endinjector -->
<!-- endbuild -->
</body>
</html>
