#admin.wrapper
  section.users
    h4 {{users.length}} Users
    table.pure-table.pure-table-striped
      thead
        tr
          th Name
          th Email
          th
      tbody
        tr(ng-repeat='user in users')
          td {{user.fullName}}
          td {{user.emailAddress}}
          td
            a.trash.pull-right(ng-click='deleteUser(user)')
              i.fa.fa-trash
          strong {{user.fullName}}
  section.restaurants
    h4 {{restaurants.length}} Restaurants
    table.pure-table.pure-table-striped
      thead
        tr
          th Name
          th Address
          th
      tbody
        tr(ng-repeat='restaurant in restaurants')
          td {{restaurant.name}}
          td {{restaurant.address}}
          td
            a.trash.pull-right(ng-click='deleteRestaurant(restaurant)')
              i.fa.fa-trash
