#admin
  section.quick-links(flex='100')
      a(ui-sref="restaurant.create") Create Restaurant
  section.users(layout='row' layout-wrap layout-align='start center')
    h2.md-title(flex='100' flex-gt-sm='50') {{adminCtrl.filteredUsers.length}} Users
    md-input-container(flex='100' flex-gt-sm='50')
      label Search
      input(type='search' placeholder='Search...' ng-model='adminCtrl.userFilter')
    table.pure-table.pure-table-striped(ng-show='adminCtrl.filteredUsers.length')
      thead
        tr
          th Name
          th Email
          th Role
          th Provider
          th Active
          th
      tbody
        tr(ng-repeat='user in adminCtrl.filteredUsers = (adminCtrl.users | filter:adminCtrl.userFilter:strict | orderBy: ["last_name", "first_name"])')
          td {{user.full_name}}
          td {{user.email_address}}
          td {{user.role}}
          td {{user.provider}}
          td.text-center
            i.fa.fa-check.success(ng-if='user.active')
            i.fa.fa-close.error(ng-if='!user.active')
          td
            a.trash.pull-right(ng-click='adminCtrl.deleteUser(user)')
              i.fa.fa-trash
  section.restaurants(layout='row' layout-wrap layout-align='start center')
    h2.md-title(flex='100' flex-gt-sm='50') {{adminCtrl.filteredRestaurants.length}} Restaurants
    md-input-container(flex='100' flex-gt-sm='50')
      label Search
      input(type='search' placeholder='Search...' ng-model='adminCtrl.restaurantFilter')
    table.pure-table.pure-table-striped(ng-show='adminCtrl.filteredRestaurants.length')
      thead
        tr
          th Name
          th Address
          th Active
          th
      tbody
        tr(ng-repeat='restaurant in adminCtrl.filteredRestaurants = (adminCtrl.restaurants | filter:adminCtrl.restaurantFilter:strict)')
          td
            a(ui-sref="restaurant.show({id: restaurant.id})") {{restaurant.name}}
          td {{restaurant.address}}
          td.text-center
            i.fa.fa-check.success(ng-if='restaurant.active')
            i.fa.fa-close.error(ng-if='!restaurant.active')
          td
            a.trash.pull-right(ng-click='adminCtrl.deleteRestaurant(restaurant)')
              i.fa.fa-trash
