<div id="admin">
    <md-card class="users">
        <md-card-title>
            <md-card-title-text>
                <span class="md-headline">{{adminCtrl.filteredUsers.length}} Users</span>
            </md-card-title-text>
        </md-card-title>
        <md-card-content>
            <div layout="row" layout-wrap>
                <md-input-container flex="100" flex-gt-xs="50">
                    <label for="search">
                        <i class="fa fa-search"> Search</i>
                    </label>
                    <input type="search" id="search" ng-model="adminCtrl.userFilter"/>
                </md-input-container>
            </div>
            <table ng-show="adminCtrl.filteredUsers.length" class="pure-table pure-table-striped">
                <thead>
                <tr>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Role</th>
                    <th>Provider</th>
                    <th>Active</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="user in adminCtrl.filteredUsers = (adminCtrl.users | filter:adminCtrl.userFilter:strict | orderBy: ['last_name', 'first_name'])">
                    <td>{{user.full_name}}</td>
                    <td>{{user.email_address}}</td>
                    <td>{{user.role}}</td>
                    <td>{{user.provider}}</td>
                    <td class="text-center">
                        <i ng-if="user.active" class="fa fa-check success"></i><i ng-if="!user.active" class="fa fa-close error"></i>
                    </td>
                </tr>
                </tbody>
            </table>
        </md-card-content>
    </md-card>
</div>
