form.pure-form.pure-form-aligned(name='form', ng-submit='changePassword(form)')
  legend Change Password
  fieldset
    .pure-control-group
      label(for='password') Password
      input(type='password' id='password' name='password' ng-model='user.oldPassword' required='')
    .pure-control-group
      label(for='newPassword') New Password
      input.form-control(type='password' id='newPassword' name='newPassword' ng-model='user.newPassword' ng-minlength='3' required='')
      p.help-block(ng-show='(form.newPassword.$error.minlength || form.newPassword.$error.required) && (form.newPassword.$dirty || submitted)')
        | Password must be at least 3 characters.
    p.help-block  {{ message }}

    .pure-controls
      button.pure-button.pure-button-primary(type='submit') Save changes
