form.m-b-40(layout='row' layout-wrap name='updateUserForm' ng-submit='settingsCtrl.updateUserProfile(updateUserForm)')
  legend Profile
  md-input-container(flex='100' flex-gt-sm='50')
    label First Name
    input(type='text' ng-model='settingsCtrl.user.first_name' required='required')
  md-input-container(flex='100' flex-gt-sm='50')
    label Last Name
    input(type='text' ng-model='settingsCtrl.user.last_name' required='required')
  md-input-container(flex='100')
    label Email
    input(type='text' ng-model='settingsCtrl.user.email_address' required='required')
  ul(flex='100').form-error-messages
    li.error-message(ng-repeat='error in settingsCtrl.errorMessages') {{error.message}}
  md-button.md-raised.md-primary(type='submit') Update Profile

form(layout='row' layout-wrap name='changePasswordForm' ng-submit='settingsCtrl.changePassword(changePasswordForm)')
  legend Change Password
  md-input-container(flex='100' flex-gt-sm='50')
    label Current Password
    input(type='password' ng-model='settingsCtrl.user.oldPassword' required='required')
  md-input-container(flex='100' flex-gt-sm='50')
    label New Password
    input.form-control(type='password' ng-model='settingsCtrl.user.newPassword' ng-minlength='3' required='required')

  ul(flex='100').form-error-messages
    li.error-message(ng-repeat='error in settingsCtrl.errorMessages') {{error.message}}
  md-button.md-raised.md-primary(type='submit') Change Password
