.tabs
  .titles
    .title
      border-top: 1px solid blackColor
      border-left: 1px solid blackColor
      border-bottom: 1px solid blackColor

      &.active
        border-bottom: none;

      &:last-of-type
        border-right: 1px solid blackColor
  .panes
    border-left: 1px solid blackColor
    border-right: 1px solid blackColor
    border-bottom: 1px solid blackColor

    .pane
      padding: 10px
      display: none

      &.active
        display: block
