/*------------------------------------*\
    #TOAST
\*------------------------------------*/
md-toast {
    position: fixed;
    font-weight: bold;
}

.md-toast-content {
    padding-top: 5px;
    padding-bottom: 5px;
}

.md-toast--primary-theme  {
    background-color: $primaryColor;
}

.md-toast--success-theme .md-toast-content {
    background-color: $successColor;
}

.md-toast--error-theme .md-toast-content {
    background-color: $errorColor;
}
