form(name='form', ng-submit='loginCtrl.login(form)')
  legend Login
  div(layout='row' layout-wrap layout-align='start center')
    md-input-container(flex='100' flex-gt-sm='50')
      label(for='email_address') Email
      input(type='email', id="email_address" ng-model='loginCtrl.user.email_address', required="required")
    md-input-container(flex='100' flex-gt-sm='50')
      label(for='password') Password
      input(type='password', id="password" ng-model='loginCtrl.user.password', required="required")


  lunchadores-form-errors(errors='loginCtrl.errors')

  md-button.md-raised.md-primary(type='submit' ng-disabled='loginCtrl.loginWaiting')
    span(ng-hide='loginCtrl.loginWaiting') Login
    lunchadores-loading-icon(is-loading='loginCtrl.loginWaiting' ng-show='loginCtrl.loginWaiting')
  = ' '
  a.default.underline(ui-sref="password-reset") Forgot Password?
