form.pure-form.pure-form-aligned(name='form', ng-submit='loginCtrl.login(form);')
  legend Login
  fieldset
    .pure-control-group
      label(for='email_address') Email
      input(type='email', id="email_address" ng-model='loginCtrl.user.email_address', required="required")
    .pure-control-group
      label(for='password') Password
      input(type='password', id="password" ng-model='loginCtrl.user.password', required="required")

    .pure-alert.pure-alert-error(ng-if="loginCtrl.loginError") {{loginCtrl.loginError}}

    .pure-controls
      button.pure-button.pure-button-primary(type='submit') Login
      = ' '
      a.default.underline(ui-sref="password-reset") Forgot Password?
