// Component styles are injected through grunt
// injector
@import '_colors.styl';
@import '_variables.styl';
@import 'admin/admin.styl';
@import 'login/login.styl';
@import 'restaurants/create/create.styl';
@import 'forms/errors/errors.styl';
@import 'forms/forms.styl';
@import 'forms/submit-button/submit-button.styl';
@import 'gravatar/gravatar.styl';
@import 'maps/maps.styl';
@import 'navbar/navbar.styl';
@import 'notifications/notifications.styl';
@import 'overrides/pure.styl';
@import 'rating/rating.styl';
@import 'tags/tags.styl';
@import 'utility/buttons.styl';
@import 'utility/links.styl';
@import 'utility/loading-icon/loading-icon.styl';
@import 'utility/utility.styl';
// endinjector

//
// App-wide Styles
//
html
    font-family 'Ubuntu', Arial, sans-serif !important;

.brand
    text-transform: uppercase
    text-decoration: none
    zoom: 1
    vertical-align middle

    &.a
        color $white;
        text-decoration none

    a
        color $white;
        text-decoration none

    .close
        position: absolute
        top: 10px
        right: 15px

.content
    padding-top: 75px;
    background-color: #ECECEC;

#mainNavigation
    padding 0
    z-index 100

    nav
        list-style none

        .gravatar
            img
                margin-right: 8px

        a
            display block
            text-decoration none
            padding-top 10px
            padding-bottom 10px

            i
                margin-right 10px

#mobileNavigation
    border-bottom: 1px solid #E5E5E5;
    padding: 10px 1em 8px
    position: fixed
    background: $white
    right 0
    top 0
    left 0
    z-index 50

    .brand
        color #565D64;
        font-size: 130%
        padding-top: 5px
        display: inline-block
        text-decoration: none

    nav
        list-style none;

        li
            float: left
            margin-left: 1em

        a
            color #565D64

table
    th.sortable
        cursor pointer;
        text-decoration underline

.breadcrumbs
    margin-bottom: 20px

fieldset {
    border: none;
    padding: 0;
}

ul
    padding-left: 0;
    margin: 0;
    list-style: none;

// Responsive: Portrait tablets and up
//@media screen and (min-width: $md)
