form(layout='row' layout-align='start center' layout-wrap ng-submit='RestaurantCtrl.canUpdate() && RestaurantCtrl.updateRestaurant();')
  md-input-container(flex='100')
    label Name
    input(type='text' required='required' ng-readonly='!RestaurantCtrl.canUpdate()' ng-model='RestaurantCtrl.restaurant.name')
  md-input-container(flex='100')
    label Address
    input(type='text' required='required' ng-readonly='!RestaurantCtrl.canUpdate()' ng-model='RestaurantCtrl.restaurant.address')
  md-input-container(flex='100' flex-gt-sm='50')
    label Latitude
    input(type='text' required='required' readonly='readonly' ng-model='RestaurantCtrl.restaurant.lat')
  md-input-container(flex='100' flex-gt-sm='50')
    label Longitude
    input(type='text' required='required' readonly='readonly' ng-model='RestaurantCtrl.restaurant.lng')

  md-checkbox.md-primary(flex ng-readonly='!RestaurantCtrl.canUpdate()' ng-model='RestaurantCtrl.restaurant.active') Active
  md-checkbox.md-primary(flex ng-readonly='!RestaurantCtrl.canUpdate()' ng-model='RestaurantCtrl.restaurant.outside_seating') Outside Seating
  md-checkbox.md-primary(flex ng-readonly='!RestaurantCtrl.canUpdate()' ng-model='RestaurantCtrl.restaurant.vegan') Vegan
  md-checkbox.md-primary(flex ng-readonly='!RestaurantCtrl.canUpdate()' ng-model='RestaurantCtrl.restaurant.vegetarian') Vegetarian

  ul(flex='100').form-error-messages
    li.error-message(ng-repeat='error in RestaurantCtrl.errorMessages') {{error.message}}


  md-button.md-primary.md-raised(type='submit' ng-if='RestaurantCtrl.canUpdate();') Update
