.pure-g
  .pure-u-1-1.pure-u-sm-1-2
    .form-title {{RestaurantsCtrl.filteredRestaurants.length}} Restaurants
  .pure-u-1-1.pure-u-sm-1-2
    form.pure-form.search
      input(type='search' placeholder='Search...' ng-model='RestaurantsCtrl.restaurantFilter.name')
table.pure-table(ng-show='RestaurantsCtrl.filteredRestaurants.length')
  thead
    th.sortable(ng-click='RestaurantsCtrl.setColumnSorting("name")') Name
    th.sortable(ng-click='RestaurantsCtrl.setColumnSorting("rating")') Rating
    th Address
    th Outside
  tbody
    tr(ng-repeat='restaurant in RestaurantsCtrl.filteredRestaurants = (RestaurantsCtrl.restaurants | filter:RestaurantsCtrl.restaurantFilter:strict | orderBy:RestaurantsCtrl.sortBy:RestaurantsCtrl.reverseSort)')
      td
        a(ui-sref="restaurant.show({id: restaurant.id})") {{restaurant.name}}
      td
        rating(rating-value='restaurant.rating')
      td {{restaurant.address}}
      td.text-center
        i.fa.fa-check.success(ng-if='restaurant.outside_seating')
        i.fa.fa-close.error(ng-if='!restaurant.outside_seating')
