.rating(aria-label='{{ratingValue}}')
  md-tooltip(md-direction='left') {{ratingValue}}
  <!-- first star -->
  i.fa.fa-star-o(ng-if='ratingValue === 0')
  i.fa.fa-star-half-o(ng-if='ratingValue > 0 && ratingValue < 1')
  i.fa.fa-star(ng-if='ratingValue >= 1')

  <!-- second star -->
  i.fa.fa-star-o(ng-if='ratingValue <= 1')
  i.fa.fa-star-half-o(ng-if='ratingValue > 1 && ratingValue < 2')
  i.fa.fa-star(ng-if='ratingValue >= 2')

  <!-- third star -->
  i.fa.fa-star-o(ng-if='ratingValue <= 2')
  i.fa.fa-star-half-o(ng-if='ratingValue > 2 && ratingValue < 3')
  i.fa.fa-star(ng-if='ratingValue >= 3')

  <!-- fourth star -->
  i.fa.fa-star-o(ng-if='ratingValue <= 3')
  i.fa.fa-star-half-o(ng-if='ratingValue > 3 && ratingValue < 4')
  i.fa.fa-star(ng-if='ratingValue >= 4')

  <!-- fifth star -->
  i.fa.fa-star-o(ng-if='ratingValue <= 4')
  i.fa.fa-star-half-o(ng-if='ratingValue > 4 && ratingValue < 5')
  i.fa.fa-star(ng-if='ratingValue === 5')
