form.pure-form.pure-form-aligned(name='form', ng-submit='passwordResetVerificationCtrl.verify(form)')
  legend Password Reset
  fieldset
    .pure-control-group
      label(for='email_address') Email
      input(type='email', id='email_address' name='email_address', ng-model='passwordResetVerificationCtrl.email_address', required='required' )
    .pure-control-group
      label(for='new_password') New Password
      input(type='password', id='new_password' name='new_password', ng-model='passwordResetVerificationCtrl.new_password', required='required' )

    .pure-u-1-1
      ul.form-error-messages
        li.error-message(ng-repeat='error in passwordResetVerificationCtrl.errors') {{error.message || error.msg}}

    .pure-controls
      button.pure-button.pure-button-primary(type='submit') Change Password
