form(layout='row' layout-wrap name='form', ng-submit='passwordResetCtrl.sendEmail(form)')
  legend Password Reset
  md-input-container(flex='100' flex-gt-sm='50')
    label Email
    input(type='email', ng-model='passwordResetCtrl.email_address', required='required' )

  lunchadores-form-errors(errors='passwordResetCtrl.errors')

  div(flex='100')
    lunchadores-submit-button(is-submit='passwordResetCtrl.passwordResetFormSubmit' button-text='Reset Password')
