form.pure-form.pure-form-aligned(name='form', ng-submit='passwordResetCtrl.sendEmail(form)')
  legend Password Reset
  fieldset
    .pure-control-group
      label(for='email_address') Email
      input(type='email', id='email_address' name='email_address', ng-model='passwordResetCtrl.email_address', required='required' )

    .pure-u-1-1
      ul.form-error-messages
        li.error-message(ng-repeat='error in passwordResetCtrl.errors') {{error.message || error.msg}}

    .pure-controls
      button.pure-button.pure-button-primary(type='submit') Reset Password
