form(layout='row' layout-wrap name='form', ng-submit='passwordResetVerificationCtrl.verify(form)')
  legend Password Reset
  md-input-container(flex='100' flex-gt-sm='50')
    label Email
    input(type='email', ng-model='passwordResetVerificationCtrl.email_address', required='required' )
  md-input-container(flex='100' flex-gt-sm='50')
    label New Password
    input(type='password', ng-model='passwordResetVerificationCtrl.new_password', required='required' )

  ul(flex='100').form-error-messages
    li.error-message(ng-repeat='error in passwordResetVerificationCtrl.errors') {{error.message || error.msg}}

  md-button.md-raised.md-primary(type='submit') Change Password
