<md-card>
    <md-card-title>
        <md-card-title-text>
            <span class="md-headline">Confirm Password Reset</span>
        </md-card-title-text>
    </md-card-title>
    <md-card-content>
        <form layout="row" layout-wrap="layout-wrap" name="form" ng-submit="passwordResetVerificationCtrl.verify(form)">
            <md-input-container flex="100" flex-gt-sm="50">
                <label>Email</label>
                <input type="email" ng-model="passwordResetVerificationCtrl.email_address" required="required"/>
            </md-input-container>
            <md-input-container flex="100" flex-gt-sm="50">
                <label>New Password</label>
                <input type="password" ng-model="passwordResetVerificationCtrl.new_password" required="required"/>
            </md-input-container>
            <lunchadores-form-errors errors="passwordResetVerificationCtrl.errors"></lunchadores-form-errors>
            <lunchadores-submit-button is-submit="passwordResetVerificationCtrl.passwordResetVerificationFormSubmit" button-text="Password Reset"></lunchadores-submit-button>
        </form>
    </md-card-content>
</md-card>
