form(layout='row' layout-wrap name='form', ng-submit='passwordResetCtrl.sendEmail(form)')
  legend Password Reset
  md-input-container(flex='100' flex-gt-sm='50')
    label Email
    input(type='email', ng-model='passwordResetCtrl.email_address', required='required' )
  ul(flex='100').form-error-messages
    li.error-message(ng-repeat='error in passwordResetCtrl.errors') {{error.message || error.msg}}
  md-button.md-raised.md-primary(type='submit') Reset Password
