
#letsEatControls(ng-hide='LetsEatCtrl.restaurantChosen')
  button#eat.pure-button.pure-button-primary(ng-click='LetsEatCtrl.selectRandomRestaurant();') {{LetsEatCtrl.buttonText}}
  button#directions.pure-button.button-success(ng-show='LetsEatCtrl.randomRestaurant', ng-click='LetsEatCtrl.getDirections();') Let's Eat!

#letsEatResult.pure-g
  .pure-u-1-1
    h4#restaurantName
      button.pure-button.button-error.button-xs(ng-show='LetsEatCtrl.restaurantChosen', ng-click='LetsEatCtrl.resetFlow(true);')
        i.fa.fa-reply
      = ' {{LetsEatCtrl.randomRestaurant.name}}'
  .pure-u-1-1.map-result-container(ng-show='LetsEatCtrl.restaurantChosen')
    #map.pure-u-1-1.pure-u-sm-1-2
    #map-steps.pure-u-1-1.pure-u-sm-1-2
      table.pure-table
        thead
          tr
            th Details
            th Duration
            th Distance
        tbody
          tr(ng-repeat='step in LetsEatCtrl.stepsToGetToRestaurant')
            td(ng-bind-html='step.instructions')
            td {{step.duration.text}}
            td {{step.distance.text}}
        tfoot
          tr
            th Totals
            th {{LetsEatCtrl.timeToRestaurant}}
            th {{LetsEatCtrl.distanceToRestaurant}}
