.lets-eat
  .lets-eat-controls
    button.pure-button.pure-button-primary(ng-click='letsEatCtrl.selectRandomRestaurant()' ng-disabled='letsEatCtrl.restaurantsLoading') {{letsEatCtrl.buttonText}}
    i.loading.fa.fa-circle-o-notch.fa-spin(ng-show='letsEatCtrl.restaurantsLoading')

  .lets-eat-result.pure-g(ng-show='letsEatCtrl.randomRestaurant')
    .pure-u-1-1
      .restaurant-card.pure-g
        .pure-u-1-1.pure-u-sm-1-2
          h2
            a.default(href="#") {{letsEatCtrl.randomRestaurant.name}}
        .pure-u-1-1.pure-u-sm-1-2
          h2
            lunchadores-rating(rating-value='letsEatCtrl.randomRestaurant.rating')
        .pure-u-1-1
          h4
            a.default(href="#") {{letsEatCtrl.randomRestaurant.address}}

        .pure-u-1-1
          dl
            dt Outside Seating
            dd
              i.fa.fa-check.success(ng-if='letsEatCtrl.randomRestaurant.outside_seating')
              i.fa.fa-close.error(ng-if='!letsEatCtrl.randomRestaurant.outside_seating')
            dt Vegan
            dd
              i.fa.fa-check.success(ng-if='letsEatCtrl.randomRestaurant.vegan')
              i.fa.fa-close.error(ng-if='!letsEatCtrl.randomRestaurant.vegan')
            dt Vegetarian
            dd
              i.fa.fa-check.success(ng-if='letsEatCtrl.randomRestaurant.vegetarian')
              i.fa.fa-close.error(ng-if='!letsEatCtrl.randomRestaurant.vegetarian')
