.lets-eat
  .lets-eat-controls
    button
      text-align: center
      margin-right: 10px

.lets-eat-result
  text-align: left
  margin-top: 20px

  .rating
    text-align: left

  h4
    margin: 0
