.lets-eat
  .lets-eat-controls
    button
      text-align: center
      margin-right: 10px

.lets-eat-result
  font-size: 16px
  margin-top: 20px

  h2
    font-weight: 400
    margin: 0


  h4
    font-size: 20px
    margin: 0

  .restaurant-card
    font-weight: 300
    text-align: left

    .rating
      text-align: left

    dt
      float: left
      min-width: 150px
