<form layout="row" layout-wrap="layout-wrap" name="form" ng-submit="passwordResetVerificationCtrl.verify(form)">
    <fieldset>
        <legend>Password Reset</legend>
        <md-input-container flex="100" flex-gt-sm="50">
            <label>Email</label>
            <input type="email" ng-model="passwordResetVerificationCtrl.email_address" required="required"/>
        </md-input-container>
        <md-input-container flex="100" flex-gt-sm="50">
            <label>New Password</label>
            <input type="password" ng-model="passwordResetVerificationCtrl.new_password" required="required"/>
        </md-input-container>
        <lunchadores-form-errors errors="passwordResetVerificationCtrl.errors"></lunchadores-form-errors>
        <lunchadores-submit-button is-submit="passwordResetVerificationCtrl.passwordResetVerificationFormSubmit" button-text="Change Password"></lunchadores-submit-button>
    </fieldset>
</form>
