.notifications-container(ng-if='notifications.length')
  div(class='notification {{note.type}}' ng-repeat='note in notifications')
    span.message {{note.message}}
    span.fa.fa-remove.close-click(ng-click='close($index)')
