$notificationPadding = 10px

.notifications
  position: absolute;
  left: 0;
  right: 0;

  .notification
    position: relative

  .message
    font-size: 14px

  .success, .error, .warning
    padding: $notificationPadding
    padding-right: ($notificationPadding * 2) + $notificationPadding
    color: whiteColor

  .success
    background: successColor
  .error
    background: errorColor
  .warning
    background: warningColor

  .close-click
    font-size: 16px
    position: absolute
    top: $notificationPadding
    right: $notificationPadding
    cursor: pointer
