<h2 class="md-headline">Create Restaurant</h2>
<section class="new-restaurant-wizard">
    <article ng-show="restaurantCreateCtrl.activeStep === 'information-step'" class="information-step">
        <form layout="row" layout-wrap="layout-wrap" ng-submit="restaurantCreateCtrl.restaurantInformationStepComplete()">
            <md-input-container flex="100">
                <label>Name</label>
                <input type="text" id="name" name="name" required="required" ng-model="restaurantCreateCtrl.newRestaurant.name"/>
            </md-input-container>
            <md-input-container flex="100">
                <label>Street</label>
                <input type="text" required="required" ng-model="restaurantCreateCtrl.newRestaurant.street"/>
            </md-input-container>
            <md-input-container flex="50" flex-gt-sm="50">
                <label>City</label>
                <input type="text" required="required" ng-model="restaurantCreateCtrl.newRestaurant.city"/>
            </md-input-container>
            <md-input-container flex="50">
                <md-select placeholder="State" ng-model="restaurantCreateCtrl.newRestaurant.state_abbreviation">
                    <md-option ng-repeat="state in restaurantCreateCtrl.states" value="{{::state.abbreviation}}">{{::state.name}}</md-option>
                </md-select>
            </md-input-container>
            <md-input-container flex="50">
                <md-select placeholder="Country" ng-model="restaurantCreateCtrl.newRestaurant.country_abbreviation">
                    <md-option ng-repeat="country in restaurantCreateCtrl.countries" value="{{::country.abbreviation}}">{{::country.name}}</md-option>
                </md-select>
            </md-input-container>
            <md-input-container flex="50">
                <label>ZipCode</label>
                <input type="text" required="required" ng-model="restaurantCreateCtrl.newRestaurant.zipcode"/>
            </md-input-container>
            <md-chips flex="100" ng-model="restaurantCreateCtrl.newRestaurant.tags">
                <md-autocomplete md-selected-item="restaurantCreateCtrl.selectedTag" md-search-text="restaurantCreateCtrl.tagSearchText" md-items="tag in restaurantCreateCtrl.tagQuerySearch(restaurantCreateCtrl.tagSearchText)" md-item-text="tag.readable_name" md-autoselect="true" placeholder="Add Tag">
                    <span md-highlight-text="restaurantCreateCtrl.tagSearchText">{{tag.readable_name}}</span>
                </md-autocomplete>
                <md-chip-template><span>{{$chip.readable_name}}</span>
                </md-chip-template>
            </md-chips>
            <div class="controls">
                <lunchadores-form-errors errors="restaurantCreateCtrl.errors"></lunchadores-form-errors>
                <lunchadores-submit-button is-submit="restaurantCreateCtrl.verifyingAddress" button-text="Verify Address"></lunchadores-submit-button>
            </div>
        </form>
    </article>
    <article layout="row" layout-wrap="layout-wrap" layout-align="start center" ng-show="restaurantCreateCtrl.activeStep === 'confirmation-step'" class="confirmation-step">
        <div id="map" flex="100" flex-gt-sm="50" class="m-b-20"></div>
        <table flex="100" flex-gt-sm="50" class="pure-table m-b-20">
            <thead>
            <tr>
                <th>Name</th>
                <th>Address</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>{{restaurantCreateCtrl.newRestaurant.name}}</td>
                <td>{{restaurantCreateCtrl.newRestaurant.formatted_address}}</td>
            </tr>
            </tbody>
        </table>
        <span flex="100" flex-gt-sm="50">Is this information correct?</span>
        <div flex="100" flex-gt-sm="50">
            <md-button ng-click="restaurantCreateCtrl.createRestaurant()" class="md-raised md-primary">Yes</md-button>
            <md-button ng-click="restaurantCreateCtrl.activeStep = 'information-step'" class="md-raised md-warn">No</md-button>
        </div>
    </article>
</section>
