form(layout='row' layout-wrap name='form', ng-submit='signupCtrl.register(form)')
  legend Sign up
  md-input-container(flex='100' flex-gt-sm='50')
    label First Name
    input(type='text', ng-model='signupCtrl.user.first_name', required='')
  md-input-container(flex='100' flex-gt-sm='50')
    label Last Name
    input(type='text', ng-model='signupCtrl.user.last_name', required='')
  md-input-container(flex='100' flex-gt-sm='50')
    label Email
    input(type='email', ng-model='signupCtrl.user.email_address', required='')
  md-input-container(flex='100' flex-gt-sm='50')
    label Password
    input(type='password', ng-model='signupCtrl.user.password', ng-minlength='3', required='' )

  lunchadores-form-errors(errors='signupCtrl.errors')
  lunchadores-submit-button(is-submit='signupCtrl.signupFormSubmit' button-text='Sign Up')
