a
  text-decoration: none
  color: $primaryColor

  &.underline
    text-decoration: underline

  &.default
    color: $black1

    &:visited, &:hover
      color: $black1

  &:visited, &:hover
    color: $primaryColor

  &:hover
    text-decoration: underline

