.text-center
  text-align: center

.text-left
  text-align: left

.text-right
  text-align: right

.p-0
  padding: 0

.m-0
  margin: 0
.m-l-0
  margin-left: 0
.m-b-20
  margin-bottom: 20px
.m-b-40
  margin-bottom: 40px

.success
  color: $successColor
.error
  color: $errorColor
.warning
  color: $warningColor
.secondary
  color: $secondaryColor
