.pure-menu
  .pure-menu-heading
    padding-left: 0px
    font-size: 130%

.pure-g [class *= "pure-u"]
  -webkit-box-sizing: border-box
  -moz-box-sizing: border-box
  box-sizing: border-box
  padding: 5px

.pure-table
  min-width: 100%
  font-size: 80%

  thead, tfoot
    background: $primaryColor
    color: $whiteColor;
  th
    border-left-color: $whiteColor

[class*="pure-u"]
  input[type="text"],
  input[type="phone"],
  input[type="email"],
  input[type="password"],
  input[type="date"]
    width: 100%;

@media screen and (min-width: 35.5em)
  .pure-g [class *= "pure-u"]
    padding: 10px
