.tabs(tabs)
  .titles.pure-g
    .title.active.pure-u-1-2(data-pane-id='current-restaurants') Current Restaurants
    .title.pure-u-1-2(ng-if="isAdmin();", data-pane-id='new-restaurant-wizard') Add Restaurant
  .panes
    .pane(data-pane-content='new-restaurant-wizard')
      section.new-restaurant-wizard(ng-if="isAdmin();")
        article.pure-g.information-step(ng-show="activeStep === 'information-step'")
          form.pure-form(ng-submit='restaurantInformationStepComplete();')
            .pure-u-1-1.pure-u-sm-1-2
              input(type='text', name='name', placeholder='Name', required='required',
                ng-model='newRestaurant.name')
            .pure-u-1-1.pure-u-sm-1-2
              input(type='text', name='address', placeholder='Address', required='required',
                ng-model='newRestaurant.address')
            .pure-u-1-1
              label(for='outside_seating', class='pure-checkbox')
                input(type='checkbox', id='outside_seating', name='outside_seating',
                  ng-model='newRestaurant.outside_seating')
                = ' Outside Seating'
            .pure-u-1-1
              ul.form-error-messages
                li.error-message(ng-repeat='error in errorMessages')
                  | {{error.message}}
            .pure-u-1
              button.pure-button.button-success(type='submit', ng-disabled='verifyingAddress') Verify Address
              i#verificationLoading.fa.fa-circle-o-notch.fa-spin(ng-show='verifyingAddress')
        article.pure-g.confirmation-step(ng-show="activeStep === 'confirmation-step'")
          .pure-u-1.pure-u-md-1-2
            #map
          .pure-u-1-1
            table.pure-table
              thead
                tr
                  th Name
                  th Address
              tbody
                tr
                  td {{newRestaurant.name}}
                  td {{newRestaurant.officialAddress}}
          .pure-u-1-1.pure-controls
            span Is this information correct?
            button.pure-button.button-success(ng-click='createRestaurant();') Yes
            = ' '
            button.pure-button.button-error(ng-click="activeStep = 'information-step';") No
    .pane(data-pane-content='current-restaurants')
      form.pure-form
        input(type='search' id='restaurantNameSearch' class='pure-input-rounded' name='restaurantNameSearch' placeholder='Search...'
          ng-model='restaurantFilter.name')
      table.pure-table
        thead
          th Name
          th Address
          th Outside
          th(ng-if="isAdmin();")
        tbody
          tr(ng-repeat='restaurant in restaurants | filter:restaurantFilter:strict')
            td
              a(href='/restaurants/{{restaurant.id}}'){{restaurant.name}}
            td {{restaurant.address}}
            td.text-center
              i.fa.fa-check.success(ng-if='restaurant.outside_seating')
              i.fa.fa-close.error(ng-if='!restaurant.outside_seating')
            td(ng-if="isAdmin();")
              button.pure-button.button-error(ng-click='deleteRestaurant(restaurant.id);') Delete
