<div layout="row" layout-wrap>
    <md-card flex="100">
        <md-card-header>
            <span class="md-headline">{{restaurantsCtrl.filteredRestaurants.length}} Restaurants</span>
        </md-card-header>
        <md-card-actions>
            <div layout="row" layout-wrap>
                <md-input-container flex="50">
                    <label for="search">
                        <i class="fa fa-search"> Search</i>
                    </label>
                    <input type="search" id="search" ng-model="restaurantsCtrl.restaurantFilter.name"/>
                </md-input-container>
            </div>
        </md-card-actions>
    </md-card>
    <div flex="100" flex-gt-xs="50" flex-gt-sm="33" ng-repeat="restaurant in restaurantsCtrl.filteredRestaurants = (restaurantsCtrl.restaurants | filter:restaurantsCtrl.restaurantFilter:strict | orderBy:restaurantsCtrl.sortBy:restaurantsCtrl.reverseSort)">
        <md-card>
            <img ng-src="/assets/images/restaurants/restaurant_{{($index % 4) + 1}}.jpg"/>
            <md-card-title>
                <md-card-title-text>
                    <span class="md-title">{{restaurant.name}}</span>
                    <span class="md-subhead">{{restaurant.formatted_address}}</span>
                </md-card-title-text>
            </md-card-title>
            <md-card-content>
                <md-chips ng-model="restaurant.tags" readonly="true">
                    <md-chip-template>{{$chip.readable_name}}</md-chip-template>
                </md-chips>
            </md-card-content>
            <md-card-actions>
                <md-button ui-sref="restaurant({id: restaurant.id})" class="md-raised md-primary">Details</md-button>
            </md-card-actions>
        </md-card>
    </div>
</div>
