form
  button[type="submit"]
    margin-left: 0;

  legend
    display: block
    width: 100%
    padding: 0;
    margin-bottom: .5em;
    border-bottom: 1px solid #e5e5e5;
    font-size: 135%

  .form-error-messages
    padding: 0
    margin: 0
    list-style: none
    background: $errorColor
    color: white

    .error-message
      padding: 10px

//@media screen and (min-width: $sm)
//  form.search
//    input[type="search"]
//      position: absolute
//      right: 0
