form
  button[type="submit"]
    margin-left: 0;

  legend
    display: block
    width: 100%
    padding: 0;
    margin-bottom: .5em;
    border-bottom: 1px solid #e5e5e5;
    font-size: 135%

  .controls
    margin-top: 15px
