legend
  font-size: 135%

  i
    font-size: 14px !important
    margin-left: 10px
    cursor: pointer

.form-error-messages
  padding: 0
  margin: 0
  list-style: none
  background: errorColor
  color: white

  .error-message
    padding: 10px

.form-title
  font-weight: bold
  font-size: 120%
  margin: 5px 0 0 0

form
  &.search
    position: relative

    input[type="search"]
      font-size: 80%
      position: static


@media screen and (min-width: 35.5em)
  form.search
    input[type="search"]
      position: absolute
      right: 0
