<md-card>
    <md-card-title>
        <md-card-title-text>
            <span class="md-headline">Login</span>
        </md-card-title-text>
    </md-card-title>
    <md-card-content>
        <form name="form" ng-submit="loginCtrl.login(form)" layout="row" layout-wrap="layout-wrap">
            <md-input-container flex="100" flex-gt-sm="50">
                <label for="email_address">Email</label>
                <input type="email" id="email_address" ng-model="loginCtrl.user.email_address" required="required"/>
            </md-input-container>
            <md-input-container flex="100" flex-gt-sm="50">
                <label for="password">Password</label>
                <input type="password" id="password" ng-model="loginCtrl.user.password" required="required"/>
            </md-input-container>
            <lunchadores-form-errors errors="loginCtrl.errors"></lunchadores-form-errors>
            <lunchadores-submit-button is-submit="loginCtrl.loginFormSubmit" button-text="Login"></lunchadores-submit-button>

        </form>
    </md-card-content>
    <md-card-actions layout="row" layout-align="start center">
        <a ui-sref="account.password-reset" href="" class="underline">Forgot Password?</a>
    </md-card-actions>
</md-card>
